/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	color: #005188;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	width: 50%;
	text-align: left;
	margin: auto;
}

/* img-txt-left {
	text-align: left;
	width: 50%;
} */

/* IMAGES */
img {
	width: 100%;
	/* position: absolute; */
}

/* FLEX */
.flex {
	display: -webkit-flex; /* for old versions of chrome, safari */
	display: -ms-flexbox; /* for IE10 */
	display: flex; /* the current standard */
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid red;
}

.flex-left {
	flex-basis: 50%;
	min-width: 560;
}

.flex-right {
	flex-basis: 50%;
	min-width: 560;
}

/* COLLAPSIBLE */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #fff;
	color: #71adc9;
	outline: solid 4px rgba(255, 255, 255, 1);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	font-weight: 700;
	text-align: left;
	/* outline: none; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	/* color: #005188; */
	/* background-color: #fff; */
	outline: solid 2px rgba(113, 173, 201, 0.15);
	transition: color 0.25s ease-out;
	transition: outline 0.25s ease-out;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.collapsible:after {
	content: "\0002B"; /* Unicode character for "plus" sign (+) */
	font-size: 1.5rem;
	line-height: 0.9rem;
	text-align: center;
	transition: all 0.5s;
	color: #71adc9;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.active:after {
	/* color: #fff; */
	transform: rotate(45deg);
}
