/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	/* text-transform: uppercase; */
}

/* collapsible */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	/* background-color: #fff; */
	/* color: #71adc9; */
	color: #005188;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	font-weight: 700;
	text-align: left;
	outline: none;
	/* font-size: 15px; */
	border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #71adc9;
	color: #005188;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	/* font-size: inherit; */
	padding: 0 18px;
	background-color: white;
	/* max-height: 0; */
	overflow: hidden;
	transition: max-height 0.25s ease-out;
}

.collapsible:after {
	content: "\0002B"; /* Unicode character for "plus" sign (+) */
	font-size: 1.5rem;
	line-height: 0.9rem;
	text-align: center;
	transition: all 0.5s;
	/* color: #71adc9; */
	color: #005188;
	/* font-size: 13px; */
	/* color: white; */
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.active:after {
	/* color: #fff; */
	transform: rotate(45deg);
}

/* .active:after {
	content: "\25BC"; Unicode character for "minus" sign (-)
	color: #005188;
} */
