/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	/* font-weight: 700; */
	color: #005188;
}

/* RESPONSIVENESS */
body {
	font-family: "Source Sans Pro", sans-serif;
	width: 90%;
	text-align: left;
	margin: auto;
	/* font-size: 36px; */
	font-size: 2em;
	text-size-adjust: inherit;
}

p {
	font-size: 18px;
}

@media only screen and (min-width: 1100px) {
	body {
		/* font-family: "Source Sans Pro", sans-serif; */
		width: 50%;
		/* max-width: 66%; */
		font-size: 1em;
	}
	/* #ai2html img { */
	/* max-width: 600px !important; */
	/* } */
}

/* IMAGES */
.graphic-text {
	font-family: "Oswald", sans-serif;
	font-weight: 200;
	font-size: 1.25em;
}

/* COLLAPSIBLE */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #fff;
	color: #71adc9;
	outline: solid 4px rgba(255, 255, 255, 1);
	cursor: pointer;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	border: none;
	font-weight: 700;
	text-align: left;
	/* outline: none; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	outline: solid 2px rgba(113, 173, 201, 0.15);
	transition: color 0.25s ease-out;
	transition: outline 0.25s ease-out;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	/* padding: 0 18px; */
	padding: 0;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.collapsible:after {
	content: "\0002B"; /* Unicode character for "plus" sign (+) */
	font-size: 1.5rem;
	line-height: 0.9rem;
	text-align: center;
	transition: all 0.5s;
	color: #71adc9;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.active:after {
	transform: rotate(45deg);
}
